* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

hr {
    border: 1px solid black;
}

.content:hover {
    cursor: pointer;
    box-shadow: 2px -4px 7px 3px #3d3636;
}

.content {
    min-height: 100px;
}

.bg-dimgrey {
    background: dimgrey;
}

.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
}

@media (max-width: 990px) {
    .sidebar {
        order: 1;
    }

}